/*{
    outline: 1px solid red;
}*/

body{
    max-width: 300px;
    outline: 2px solid rgb(223, 159, 40);
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 8px;
   
}


.add-task-container{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
